@import "./variables";

/* Import Vendor */
@import "vendor/bootstrap";

/* Import Base */
@import "base/global";
@import "base/fonts";
@import "base/states";
@import "base/utilities";

/* Import Components */
@import "components/logo.component";

html,
body {
  background: #0d0c1d;
  color: #f1dac4l;
}

p {
  color: #9c9c9c;
}

.card {
  background: #474973;
}

.list-group-item {
  background: #0d0c1d;
}

.item-wrap,
.item-image {
  height: 20em;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
}

#wrap {
  height: 100vh;
}
